<h1>Checkout</h1>
<p>Please complete the form below to finish checkout</p>
<form>
  <div ng-show="!plumb.auth.loggedIn()">
    <p>Have an account?</p>
    <button class="plumb-button small" type="button" ng-click="menuService.toggle('login', 'checkout', 'checkout')">Login Now</button>
  </div>
  <div ng-show="addressList.length > 0">
    <p>Select from a shipping address you have saved</p>
    <select class="plumb-input" ng-model="checkout.shipment.ship_to" ng-options="address as address.address.address_1 for address in addressList" ng-change="changedAddress()"><option value>New Address</option></select>
  </div>
  <div>
    <p>Enter your email address</p>
    <input class="plumb-input" type="email" ng-model="checkout.shipment.ship_to.email" placeholder="Your email address">
  </div>
  <div ng-show="requiresShipping">
    <p>Enter a shipping address</p>
    <input class="plumb-input" type="text" ng-model="checkout.shipment.ship_to.name" placeholder="Your Name">
    <input class="plumb-input" type="text" ng-model="checkout.shipment.ship_to.company_name" placeholder="(optional) Company Name">
    <input class="plumb-input" type="phone" ng-model="checkout.shipment.ship_to.phone" placeholder="Your Phone Number">
    <input class="plumb-input" type="text" ng-model="checkout.shipment.ship_to.address.address_1" placeholder="Enter your address" ng-change="lookupGeoCode(checkout.shipment.ship_to.address.address_1, checkout.shipment.ship_to.address.postal_code, checkout.shipment)">
    <div ng-show="geocodeComplete">
      <input class="plumb-input" type="text" ng-model="checkout.shipment.ship_to.address.address_2" placeholder="(optional) Address Line 2">
      <input class="plumb-input" type="text" ng-model="checkout.shipment.ship_to.address.city" placeholder="Enter your city">
      <select class="plumb-input" ng-model="checkout.shipment.ship_to.address.state_code" ng-options="state.value as state.name for state in stateList"><option value>Select a State</option></select>
      <select class="plumb-input" ng-model="checkout.shipment.ship_to.address.country_code" ng-options="country.value as country.name for country in countryList"><option value>Select a Country</option></select>
    </div>
    <input class="plumb-input" type="text" ng-model="checkout.shipment.ship_to.address.postal_code" placeholder="Enter your postal/zip code" ng-change="lookupGeoCode(checkout.shipment.ship_to.address.address_1, checkout.shipment.ship_to.address.postal_code, checkout.shipment)">
    <input class="plumb-input" type="checkbox" ng-model="checkout.shipment.ship_to.residential" id="checkout.shipment.ship_to.residential"><label for="checkout.shipment.ship_to.residential">Residential Address</label>
    <div ng-show="!checkout.shipment.ship_to.residential">
      <input class="plumb-input" type="checkbox" ng-model="checkout.shipment.ship_to.lift_gate" id="checkout.shipment.ship_to.lift_gate"><label for="checkout.shipment.ship_to.lift_gate">Has lift gate available</label>
      <input class="plumb-input" type="checkbox" ng-model="checkout.shipment.ship_to.call_before" id="checkout.shipment.ship_to.call_before"><label for="checkout.shipment.ship_to.call_before">Call before delivery</label>
      <input class="plumb-input" type="checkbox" ng-model="checkout.shipment.ship_to.inside_delivery" id="checkout.shipment.ship_to.inside_delivery"><label for="checkout.shipment.ship_to.inside_delivery">Inside Delivery</label>
    </div>
  </div>
  <button type="submit" class="plumb-button contact-button" ng-click="saveAddress(checkout.shipment.ship_to); menuService.toggle('checkout-2', 'checkout')">Continue</button>
</form>