<div class="plumb-product" ng-show="product">
  <div class="plumb-product-container">
    <plumb-image src="product.images[0]" options="{size: '300x200'}" alt="product.name"></plumb-image>
  </div>
  <div class="plumb-product-container">
    <div class="column">
      <h2 ng-bind="product.name"></h2>
      <h3 ng-show="product.sub_title" ng-bind="product.sub_title"></h3>
      <span class="price" ng-bind="plumbMenuService.getPrice(product)"></span> <span class="quantity-in-box" ng-show="product.quantity_in_box > 1">({{product.quantity_in_box}} in box)</span>
    </div>
    <div class="column">
      <div ng-show="product.attributes">
        <div ng-repeat="variant in product.attributes">
          <div ng-if="variant.type == 'select'">
            <select class="form-control" ng-model="variant.$selected" ng-change="plumbMenuService.setVariant(product, variant.name, variant.$selected)" ng-options="option as variantDisplay(option) for option in variant.options"><option value>Select a {{variant.name}}</option></select>
          </div>
          <div ng-if="variant.type == 'multi'">
            <div class="variant-option checkbox" ng-repeat="option in variant.options" ng-hide="!option.name.length">
              <label><input type="checkbox" ng-click="plumbMenuService.setMultiVariant(product, variant.name, option)">{{option.name}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="product-quantity">
        <input class="qty-input" type="text" ng-model="options.quantity" placeholder="QTY">
        <span ng-show="product.minimum_quantity">({{product.minimum_quantity}} minimum)</span>
      </div>
      <button class="add-to-cart" type="button" ng-click="plumbMenuService.addToCart(product, options.quantity)">Buy Now</button>
    </div>
    <p ng-bind-html="product.short_description"></p>
  </div>
</div>